


body{
   
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}


body{
    background-color: white;
}

/* animation testing */

body{
  animation: bodycolor 20s linear infinite;
}

/* footer a{
  animation: pulse 4s ease-in-out infinite alternate;
} */

/* @keyframes pulse{
  from{
    transform: scale(0.9) translateY(0);
    opacity: 0.8;
  }
  50%{
    transform: scale: (1.1) translate: (-20px);
    opacity: 1;
    box-shadow:
  }
} */

@keyframes bodycolor{
  from{
    background-color: rgb(228, 250, 215);
  }
  50%{
    background-color: rgb(252, 240, 255);
  }
  to{
    background-color: white;
  }
}


/* header */
header{
    background-color: white;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: ridge;
    position: sticky;
    top: 0;
    z-index: 500;
   
}

/* .logo */
.logo img{
    width: 180px;
    position: relative;
    left: 20px;
}

/* ul list for nav */
ul{
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 30px;
    color: #130741;
}


a{
    text-decoration: none;
    color: #130741;
}

/* sign in and become a driver botton at nav  */
.navbutton{
  display: flex;
}
.navbutton button{
    margin-right: 20px;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background-color: #E39400;
    color: antiquewhite;
    font-size: 16px;
    border-color: antiquewhite;
    white-space: nowrap;
}

/* container for form and hero img  */
.main{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

/* form for booking  */

.form-group {
  margin-bottom: 20px;
  width: 300px; 
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #130741;
}

.form-input {
  position: relative;
  display: flex;
  align-items: center;
}

.form-input i{
  position: absolute;
  left: 10px;
  color: #666;
}

.form-input input {
  width: 500px;
  padding: 30px 20px 10px 35px; 
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.form-input input:focus {
  border-color: #130741;
}



h2{
   
    margin-left: 50px;
    font-size: 40px;
    color: #130741;
}

h5{
    margin-left: 80px;
    font-size: 22px;
    margin-top: -30px;
    color: #130741;
}
.form{
    width: 700px;
    margin-left: 70px;


}

.form-input{
    height: 80px;

}
.book{
    margin-left: 150px;
    height: 60px;
    width: 200px;
    background-color: #E39400;
    color:#130741;
    border: none;
    border-radius: 10px;
}

.book a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}


/* hero img  */

.hero img{
    width: 800px;
    height: 600px;
    margin: 30px;
    border-radius: 10px;
}


/* best prices section  */
.prices{
    text-align: center;
}
.prices h1{
    font-size: 60px;
    color: #130741;
}
.prices p{
    font-size: 25px;
    margin-top: -30px;
    color: #130741;
}

/* Container  cards */
.card-container {
  display: flex;
  flex-wrap: nowrap;       
  text-align: center;
  gap: 15px;
  overflow-x: auto;        
  overflow-y: hidden;      
  padding: 10px;
  scroll-behavior: smooth; 
}

/* Hide scrollbar for browser*/
.card-container::-webkit-scrollbar {
  display: none;
}


/* Card */
.card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  width: 350px;           
  flex: 0 0 auto;          
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Image */
.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Content */
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  flex-grow: 1;
}

/* Heading */
.card h3 {
  font-size: 24px;
  margin: 10px 0;
  color: #130741;
}

/* Paragraph */
.card p{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #130741;
}

/* Button */
.card a{
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #E39400;
  color: #130741;
  margin-top: auto;       /* push button down */
  display: inline-block;
}

/* your safety section */
.safety{
 text-align: center;
 margin-top: 100px;
 padding: 20px;
}

.safety h1{
    font-size: 60px;
    color: #130741;
}

.safety p{
    font-size: 32px;
    margin-top: -30px;
    color: #130741;
}

.safe img{
    width: 100%;
}



/* our partners section */
.partners{
    text-align: center;
   width: 100%;
}


.our-partner h1{
    font-size: 60px;
    color: #130741;
}

.our-partner p{
    font-size: 22px;
    margin-bottom: 30px;
    color: #130741;
}


.partners img{
    width: 120px;
}

.partnerimg{
   display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 20px;
  padding: 50px;

}


/* ======feedback section======= */ 
.feedbackmain h5{
  font-size: 42px;
  margin-top: 100px;
}


.feedback{
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  border: solid 2px #130741;
  padding: 20px;
}


.feedback1{
  display: flex;
  gap: 20px;
  text-align: center;
  
}

.feedbackimg img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

/* =====the paragraph under the images */
.feedbackimg p{
  font-size: 22px;
  color: #130741;
}


/* ====to remove the margin beteen the text */
.feedbackname2{
  margin: 0;
}

/* ====for color of the star */
.feedbackname2 span{
  color:#E39400;
  font-size: 20px;
}

.feedbackname2 p{
  font-size: 28px;
  color: #130741;
  margin: 0;
}

/* ====last section before footer===== */
.lastsection{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.lastsectiontext{
  margin-bottom: 60px;
  margin-left: 50px;
}

.lastsectiontext h1{
  font-size: 42px;
  color: #130741;
}

.lastsectiontextbotton{
  width: 450px;
  height: 50px;
  border: none;
  background-color: #E39400;
  color: #130741;
}

.lastsectiontextbotton a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}


.lastsectionimg img{
  padding-top: 50px;
  padding-bottom: 50px;
  height: 400px;
}

/* =======footer====== */
.footer{
  background-color:#130741;

}
.footer1{
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.footerlogo{
  width: 40%;
  margin-left: 50px;
}

.footerlogo h1{
  font-size: 46px;
  font-weight: bold;
  color:#E39400;
}

.myteam{
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-top: 50px;
}

.myteam h6{
  font-size: 18px;
  color: white;
}

.myteam button{
  width: 150px;
  height: 80px;
  border-radius: 12px;
  background-color: #E39400;
}

.myteambutton a{
  font-size: 18px;
  font-weight: bold;
  color: #130741;
}

/* ====footer roll2==== */
.footer2{
  display: flex;
  justify-content: space-between;
  
}

.footer2roll1{
  display: flex;
  justify-content: space-between;
  width: 45%;
  font-size: 16px;
  color: white;
}

.footerboldletters span{
  font-weight:bolder;
}

.footer2roll1a{
  margin-left: 50px;
}

.footer2roll1b{
  margin-right: 50px;
}

.footer2roll1b button{
  width: 180px;
  height: 70px;
  border-radius: 12px;
  background-color:#E39400;
}

.registerbutton a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}




